@(controller:de.htwg.sudoku.controller.ISudokuController, statusmessage:String)

@main("HTWG Sudoku") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />

	<nav class="navbar navbar-default" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/sudoku/n">New</a></li>
	           <li class="divider"></li>
	          <li><a href="#">Save</a></li>
	          <li><a href="#">Load</a></li>
	          <li class="divider"></li>
	          <li><a href="#">Quit</a></li>
	        </ul>
	      </li>

	      <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/sudoku/z">Undo</a></li>
	          <li><a href="/sudoku/y">Redo</a></li>
	           <li class="divider"></li>
	          <li><a href="/sudoku/c">Copy</a></li>
	          <li><a href="/sudoku/v">Paste</a></li>
	        </ul>
	      </li>

	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solve <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/sudoku/s">Solve</a></li>
	        </ul>
	      </li>

	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Highlight <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	        	<li><a href="/sudoku/0">none</a></li>
	          @for(highlight <- 1 to controller.getSize){<li><a href="/highlight/@highlight">@highlight</a></li>}
	        </ul>
	      </li>

	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">toggle show Candidates</a></li>
	          <li><a href="/sudoku/*">Resize to 9*9</a></li>
	          <li><a href="/sudoku/+">Resize to 4*4</a></li>
	          <li><a href="/sudoku/-">Resize to 1*1</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>


    <div class="game">
        <div class="row">	
        	<div class="col-md-4"></div>
  			
	        <div class="col-md-4 align">
	        	<div class="highlightButtonGroup">
			        Highlight:
					<div class="btn-group">
						@for(highlight <- 0 to controller.getSize){
					  		<a href="/highlight/@highlight"><button type="button" class="btn btn-default">@highlight</button></a>
					  	}
					</div> 
				</div>
			      
	            <div  @if(controller.getSize == 9) {class="outmost-nine"}
	                  @if(controller.getSize == 4) {class="outmost-four"}
	                  @if(controller.getSize == 1) {class="outmost-one"}>
					<div class="grid">
						@for(row <- 0 until controller.getSize){
						<div class="gridrow">
							@for(column <- 0 until controller.getSize){
								<span id="@{
									var blockname = ""
					                val blocksize = controller.getBlockSize
					                if (row % blocksize == 0) {blockname = "N"}
					                if (row % blocksize == 1) {blockname = ""}
					                if (row % blocksize == 2) {blockname = "S"}
					                if (column % blocksize == 0) {blockname = blockname + "W"}
					                if (column % blocksize == 1) {blockname = blockname + ""}
					                if (column % blocksize == 2) {blockname = blockname + "E"}
					                if (blockname == "") {blockname = "C"}
					                blockname + "block"
				                }">
				                <span class="cellouter">
					                <span
					                @{
						                if (controller.isGiven(row, column)) {
							                "id=given"
							            } else {
							                if (controller.isHighlighted(row, column)) {
							                	"id=highlighted"
							                } else {
							                	"id=normal"
							                }
						                }
					                }
					                class="cellborder">
						                <div class="cell"><font size="8"> @if(controller.getValue(row,column) != 0) {@controller.getValue(row,column)}</font>
						                    @if(controller.getValue(row,column) == 0) {
						                    	@if(controller.isShowCandidates(row, column)) {
	
													<span class="candidate" align="center">
														@for( i <- 1 to controller.getSize) {
															@if(i % controller.getBlockSize == 1) {
																<span>
															}
																	<div class="candidatecell">
				                                                        <p class="candidatetext">
				                                                            @if(controller.isCandidate(row, column,i)) {@i}
				                                                        </p>
				                                                    </div>
															@if(i % controller.getBlockSize == 0) {
																</span>
															}
														}
													</span>
												} else {
				                      				 &nbsp;
				                    			}
				                    		}
										</div>
								    </span>
								</span>
							</span>
							}
						</div>
						}
					</div>
					<div class="statusline">
			        	@statusmessage
		        	</div>
				</div>
				</div> 
		
  			<div class="col-md-4"></div>
	  </div>
</div>


}
