@(controller:de.htwg.sudoku.controller.ISudokuController)

@main("HTWG Sudoku") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />

    <div class="game">
        <div class="row">	        
            <div  @if(controller.getSize == 9) {class="outmost-nine"}
                  @if(controller.getSize == 4) {class="outmost-four"}
                  @if(controller.getSize == 1) {class="outmost-one"}>
				<div class="grid">
					@for(row <- 0 until controller.getSize){
					<div class="gridrow">
						@for(column <- 0 until controller.getSize){
							<span id="@{
								var blockname = ""
				                val blocksize = controller.getBlockSize
				                if (row % blocksize == 0) {blockname = "N"}
				                if (row % blocksize == 1) {blockname = ""}
				                if (row % blocksize == 2) {blockname = "S"}
				                if (column % blocksize == 0) {blockname = blockname + "W"}
				                if (column % blocksize == 1) {blockname = blockname + ""}
				                if (column % blocksize == 2) {blockname = blockname + "E"}
				                if (blockname == "") {blockname = "C"}
				                blockname + "block"
			                }">
			                <span class="cellouter">
				                <span
				                @{
					                if (controller.isGiven(row, column)) {
						                "id=given"
						            } else {
						                if (controller.isHighlighted(row, column)) {
						                	"id=highlighted"
						                } else {
						                	"id=normal"
						                }
					                }
				                }
				                class="cellborder">
					                <div class="cell"><font size="8"> @if(controller.getValue(row,column) != 0) {@controller.getValue(row,column)}</font>
					                    @if(controller.getValue(row,column) == 0) {
					                    	@if(controller.isShowCandidates(row, column)) {

												<span class="candidate" align="center">
													@for( i <- 1 to controller.getSize) {
														@if(i % controller.getBlockSize == 1) {
															<span>
														}
																<div class="candidatecell">
			                                                        <p class="candidatetext">
			                                                            @if(controller.isCandidate(row, column,i)) {@i}
			                                                        </p>
			                                                    </div>
														@if(i % controller.getBlockSize == 0) {
															</span>
														}
													}
												</span>
											} else {
			                      				 &nbsp;
			                    			}
			                    		}
									</div>
							    </span>
							</span>
						</span>
						}
					</div>
					}
				</div>
			</div>
	  </div>
</div>


}
