<!DOCTYPE html>

<html ng-app="sudokuApp" lang="en">
    <head>
        <title>Sudoku</title>
        <link rel="stylesheet" href="/sudoku.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
		<script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
        <script type="text/javascript" src="/sudoku_ng.js"></script>
    </head>
    <body ng-controller="SudokuCtrl">
        <div class="game">
			<div class="grid" id="size{{size}}">
				<div class="cellouter" ng-repeat="cell in grid">
	                <div class="cellborder" id={{cell.status}}  >
		                <div class="cell" id="cell{{cell.row*10+cell.column}}" ng-click="!cell.candidates && cellclicked(cell.row,cell.column,cell.value) " ng-bind-html="(cellHtml[cell.row*10+cell.column])">x</div>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>
